		.texto{
            font-family: 'Lato', sans-serif;
            font-weight: lighter;
            font-size: 1.2em;
            
        }
        .texto2{
            font-family: 'Fira Sans', sans-serif;
            font-weight: normal;
            font-size: 1em;
        }
        body{
            font-family: 'Karla', sans-serif;
            font-size: 1rem;
        }
        .sidebar{
            background-color:antiquewhite;
            
        }
        .sidebar .nav-link{
            color: black;
        }
        .sidebar .nav-link i:first-of-type{
            color:black;
        }
        
        .enlace:hover{
            background-color:white;
        }
        
        .enlace2:active{
            background-color:lightpink;
        }
        .page-header{
            background-image: url("../imgs/banner.png");
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            background-attachment: contain;
            
        }
		
		